/************************
    REGOLE GENERALI
*************************/ 

/** Reset Pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px;
}

body {

}

/************************
    REGOLE GENERALI
*************************/

/** Form */
.d-block {
    display: block;
}