/************************
    REGOLE GENERALI
*************************/ 

/** Reset Pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px;
}

body {

}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}


/************************
    REGOLE GENERALI
*************************/

/** Form */
.d-block {
    display: block;
}